USE [master]
GO
/****** Object:  Database [SafeCheckDB]    Script Date: 17.01.2026 19:57:54 ******/
CREATE DATABASE [SafeCheckDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SafeCheckDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SafeCheckDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SafeCheckDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SafeCheckDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SafeCheckDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SafeCheckDB]
GO
/****** Object:  User [alerji_proje]    Script Date: 17.01.2026 19:57:54 ******/
CREATE USER [alerji_proje] FOR LOGIN [alerji_proje] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [alerji_proje]
GO
/****** Object:  Table [dbo].[allergies]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[allergy_log]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergy_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[allergy_id] [int] NOT NULL,
	[log_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_products]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredients_allergies]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients_allergies](
	[allergy_id] [int] NOT NULL,
	[ingredient_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[allergy_id] [int] NULL,
	[action_type] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[log_date] [date] NOT NULL,
	[log_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_ingredients]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[ingredient_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[barcode] [varchar](255) NULL,
	[brand_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[contains_gluten] [bit] NOT NULL,
	[brand] [varchar](255) NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scan_history]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scan_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[scan_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[username] [varchar](255) NULL,
 CONSTRAINT [PK__users__3213E83F5C5CAD20] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_allergies]    Script Date: 17.01.2026 19:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_allergies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[allergy_id] [int] NOT NULL,
	[severity] [nvarchar](50) NULL,
	[notes] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[allergies] ON 

INSERT [dbo].[allergies] ([id], [name]) VALUES (10, N'Ağaç Yemişleri')
INSERT [dbo].[allergies] ([id], [name]) VALUES (34, N'Ahududu')
INSERT [dbo].[allergies] ([id], [name]) VALUES (39, N'Ananas')
SET IDENTITY_INSERT [dbo].[allergies] OFF
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [name]) VALUES (13, N'Activia')
INSERT [dbo].[brands] ([id], [name]) VALUES (20, N'Alpro')
INSERT [dbo].[brands] ([id], [name]) VALUES (64, N'Bağdat')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [name]) VALUES (1, N'Peynir')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (2, N'Kahvaltılıklar')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (3, N'Yoğurt')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[category_products] ON 

INSERT [dbo].[category_products] ([id], [product_id], [category_id]) VALUES (1, 1, 1)
INSERT [dbo].[category_products] ([id], [product_id], [category_id]) VALUES (2, 2, 1)
INSERT [dbo].[category_products] ([id], [product_id], [category_id]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[category_products] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredients] ON 

INSERT [dbo].[ingredients] ([id], [name]) VALUES (192, N'%0.15 Yağlı İnek Sütü')
INSERT [dbo].[ingredients] ([id], [name]) VALUES (190, N'%0.3 Yağlı Süt')
INSERT [dbo].[ingredients] ([id], [name]) VALUES (191, N'%1.5 Yağlı İnek Sütü')
GO
SET IDENTITY_INSERT [dbo].[ingredients] OFF
GO
INSERT [dbo].[ingredients_allergies] ([allergy_id], [ingredient_id]) VALUES (6, 192)
INSERT [dbo].[ingredients_allergies] ([allergy_id], [ingredient_id]) VALUES (6, 190)
INSERT [dbo].[ingredients_allergies] ([allergy_id], [ingredient_id]) VALUES (6, 191)
GO
SET IDENTITY_INSERT [dbo].[logs] ON 

INSERT [dbo].[logs] ([log_id], [user_id], [product_id], [allergy_id], [action_type], [description], [log_date], [log_time]) VALUES (2, 5, 9, NULL, N'SAFE_SCAN', N'Ürün güvenli bulundu', CAST(N'2026-01-13' AS Date), CAST(N'00:20:39.7300000' AS Time))
INSERT [dbo].[logs] ([log_id], [user_id], [product_id], [allergy_id], [action_type], [description], [log_date], [log_time]) VALUES (3, 5, 12, NULL, N'RISKY_SCAN', N'Ürün riskli bulundu', CAST(N'2026-01-13' AS Date), CAST(N'00:20:46.1800000' AS Time))
INSERT [dbo].[logs] ([log_id], [user_id], [product_id], [allergy_id], [action_type], [description], [log_date], [log_time]) VALUES (4, 5, NULL, NULL, N'LOGIN', N'Kullanıcı giriş yaptı', CAST(N'2026-01-13' AS Date), CAST(N'00:25:23.0366667' AS Time))
SET IDENTITY_INSERT [dbo].[logs] OFF
GO
SET IDENTITY_INSERT [dbo].[product_ingredients] ON 

INSERT [dbo].[product_ingredients] ([id], [product_id], [ingredient_id]) VALUES (1, 5, 1)
INSERT [dbo].[product_ingredients] ([id], [product_id], [ingredient_id]) VALUES (8, 5, 6)
INSERT [dbo].[product_ingredients] ([id], [product_id], [ingredient_id]) VALUES (2, 5, 11)
SET IDENTITY_INSERT [dbo].[product_ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [barcode], [brand_id], [created_at], [contains_gluten], [brand], [image_url]) VALUES (1, N'Pınar Labne 400 G', NULL, 1, CAST(N'2025-12-20T18:58:01.560' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[products] ([id], [name], [barcode], [brand_id], [created_at], [contains_gluten], [brand], [image_url]) VALUES (2, N'Torku Kaşar Peyniri Tam Yağlı 350 G', NULL, 2, CAST(N'2025-12-20T18:58:01.560' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[products] ([id], [name], [barcode], [brand_id], [created_at], [contains_gluten], [brand], [image_url]) VALUES (3, N'Bahçıvan Yarım Yağlı Laktozsuz Süzme Peynir 500G', NULL, 3, CAST(N'2025-12-20T18:58:01.560' AS DateTime), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [surname], [email], [password_hash], [created_at], [updated_at], [is_active], [username]) VALUES (3, N'Ceyda Oğur', NULL, N'ceydaogur07@gmail.com', N'123456', CAST(N'2025-12-23T20:22:11.667' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[users] ([id], [name], [surname], [email], [password_hash], [created_at], [updated_at], [is_active], [username]) VALUES (4, N'Ceyda', NULL, N'232201020@ogrenci.amasya.edu.tr', N'232201020', CAST(N'2025-12-24T03:07:33.567' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[users] ([id], [name], [surname], [email], [password_hash], [created_at], [updated_at], [is_active], [username]) VALUES (5, N'Ceyda Oğur', NULL, N'ceydaogurr@gmail.com', N'$2a$10$LQsuBv3r.BQKT9g7crhonO3KhOI4SJWl17jI4BOz.BGMYQz5i2r42', CAST(N'2025-12-24T04:30:48.800' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[users_allergies] ON 

INSERT [dbo].[users_allergies] ([id], [user_id], [allergy_id], [severity], [notes], [created_at]) VALUES (27, 3, 1, N'HIGH', N'', CAST(N'2025-12-24T00:45:42.223' AS DateTime))
INSERT [dbo].[users_allergies] ([id], [user_id], [allergy_id], [severity], [notes], [created_at]) VALUES (36, 5, 12, N'HIGH', N'', CAST(N'2026-01-09T23:25:07.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[users_allergies] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__allergie__72E12F1B393B79A5]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[allergies] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__brands__72E12F1BC4A5B8F6]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[brands] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ingredie__72E12F1B73FCD61C]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[ingredients] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_ingredient]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[product_ingredients] ADD  CONSTRAINT [UQ_product_ingredient] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[ingredient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616472A546A9]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__AB6E616472A546A9] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_allergy]    Script Date: 17.01.2026 19:57:54 ******/
ALTER TABLE [dbo].[users_allergies] ADD  CONSTRAINT [UQ_user_allergy] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[allergy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[allergy_log] ADD  DEFAULT (getdate()) FOR [log_time]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT (CONVERT([date],getdate())) FOR [log_date]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT (CONVERT([time],getdate())) FOR [log_time]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [contains_gluten]
GO
ALTER TABLE [dbo].[scan_history] ADD  DEFAULT (getdate()) FOR [scan_time]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__created_a__38996AB5]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__is_active__398D8EEE]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users_allergies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[allergy_log]  WITH CHECK ADD FOREIGN KEY([allergy_id])
REFERENCES [dbo].[allergies] ([id])
GO
ALTER TABLE [dbo].[allergy_log]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[allergy_log]  WITH CHECK ADD  CONSTRAINT [FK__allergy_l__user___5441852A] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[allergy_log] CHECK CONSTRAINT [FK__allergy_l__user___5441852A]
GO
ALTER TABLE [dbo].[category_products]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProducts_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[category_products] CHECK CONSTRAINT [FK_CategoryProducts_Categories]
GO
ALTER TABLE [dbo].[category_products]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProducts_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[category_products] CHECK CONSTRAINT [FK_CategoryProducts_Products]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK__favorites__user___59063A47] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK__favorites__user___59063A47]
GO
ALTER TABLE [dbo].[ingredients_allergies]  WITH CHECK ADD FOREIGN KEY([allergy_id])
REFERENCES [dbo].[allergies] ([id])
GO
ALTER TABLE [dbo].[ingredients_allergies]  WITH CHECK ADD FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([id])
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD FOREIGN KEY([allergy_id])
REFERENCES [dbo].[allergies] ([id])
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK__logs__user_id__6383C8BA] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK__logs__user_id__6383C8BA]
GO
ALTER TABLE [dbo].[product_ingredients]  WITH CHECK ADD  CONSTRAINT [FK_pi_ingredient] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([id])
GO
ALTER TABLE [dbo].[product_ingredients] CHECK CONSTRAINT [FK_pi_ingredient]
GO
ALTER TABLE [dbo].[product_ingredients]  WITH CHECK ADD  CONSTRAINT [FK_pi_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_ingredients] CHECK CONSTRAINT [FK_pi_product]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[scan_history]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[scan_history]  WITH CHECK ADD  CONSTRAINT [FK__scan_hist__user___5DCAEF64] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[scan_history] CHECK CONSTRAINT [FK__scan_hist__user___5DCAEF64]
GO
ALTER TABLE [dbo].[users_allergies]  WITH CHECK ADD  CONSTRAINT [FK_ua_allergy] FOREIGN KEY([allergy_id])
REFERENCES [dbo].[allergies] ([id])
GO
ALTER TABLE [dbo].[users_allergies] CHECK CONSTRAINT [FK_ua_allergy]
GO
ALTER TABLE [dbo].[users_allergies]  WITH CHECK ADD  CONSTRAINT [FK_ua_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users_allergies] CHECK CONSTRAINT [FK_ua_user]
GO
USE [master]
GO
